<div class='container'>
	<div class='article featured-content'>
		<div class="image-wrapper">
			<a ng-href='{{vm.items[0].link}}' target='_blank'>
				<img src='app/assets/images/lg/{{vm.items[0].lg_img}}'></img>
			</a>
		</div>
		<div class='content-wrapper'>
			<div class='category-group'>
				<h2 class='category'>
					<a ng-href='/category/{{vm.items[0].categories}}'>{{vm.items[0].categories}}</a>
				</h2>
				<span class='sep'>/</span>
				<h3 class='subcategory' ng-if='vm.items[0].subcategory'>
					<a ng-href="/category/{{vm.items[0].subcategory}}">{{vm.items[0].subcategory}}</a>
				</h3>
			</div>
			<div class='copy-wrapper'>
				<h1 class='article-title text-center'>{{ vm.items[0].name }}</h1>
				<p>{{ vm.items[0].description }}</p>
			</div>
			<div class='ui-wrapper'>
				<div class='buy'>
					<a ng-href="{{vm.items[0].link}}" target='_blank'>
						<span class='action'>Buy Now</span>
						<span class='sep'>/</span>
						<span class='cost'>{{vm.items[0].price}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div ng-repeat="item in vm.items | filter:vm.searchText" class='col-md-6'>
		<div class='article one-half'>
			<div class="image-wrapper">
				<a ng-href='{{item.link}}' target='_blank'>
					<img src='app/assets/images/thumb/{{item.thumb}}'></img>
				</a>
			</div>
			<div class='content-wrapper'>
				<div class='category-group'>
					<h2 class='category'>
						<a ng-href='/category/{{item.categories}}'>{{item.categories}}</a>
					</h2>
					<span class='sep'>/</span>
					<h3 class='subcategory' ng-if='item.subcategory'>
						<a ng-href="/category/{{item.subcategory}}">{{item.subcategory}}</a>
					</h3>
				</div>
				<div class='copy-wrapper'>
					<h1 class='article-title text-center'>{{ item.name }}</h1>
					<p>{{ item.description }}</p>
				</div>
				<div class='ui-wrapper'>
					<div class='buy'>
						<a ng-href="{{item.link}}" target='_blank'>
							<span class='action'>Buy Now</span>
							<span class='sep'>/</span>
							<span class='cost'>{{item.price}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>