<div class="page-header">
	<h1>
		Product List
		<a href="/items/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New Item
		</a>
	</h1>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Link</th>
			<th>Thumb</th>
			<th>LG Image</th>
			<th>Price</th>
			<th>Category</th>
			<th>Subcategory</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.items">
			<td>{{ item._id }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.link }}</td>
			<td>{{ item.thumb }}</td>
			<td>{{ item.lg_img }}</td>
			<td>{{ item.price }}</td>
			<td>{{ item.categories }}</td>
			<td>{{ item.subcategory }}</td>
			<td class="col-sm-2">
				<a ng-href="/items/edit/{{ item._id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="vm.deleteItem(item._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>


