

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

#searchBox {
  color: #444444;
}

.pointer {
    cursor: pointer;
}

h1 {
  margin: -2px 0 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  line-height: 25px;
  padding-bottom:10px;
}

p {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

.article-title {
  text-align: center;
  margin-bottom: -5px;
}

.buy a {
   color: #ffffff;
   text-decoration: none;
}

.category-group a {
  color: #ffffff;
  height: 30px;
}

.one-half {
  width: 75.9583333%;
  float: left;
  height: auto;
  overflow: hidden;
  margin-right: 2.0833334%;
}

.featured-content {
  width: 80%;
  height: auto;
  overflow: hidden;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: #000;
  text-decoration: none;
}

.article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: auto;
  border: 1px solid #c7c7c7;
}

.grid {
  height: auto;
  overflow: hidden;
  width: 94.047619%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.image-wrapper {
  overflow: hidden;
  height: auto;
  position: relative;
  z-index: 100;
}

.image-wrapper img {
  max-width: 100%;
  border-bottom: 1px solid #c7c7c7;
}

.subcategory a, .category a {
  text-decoration: none;
}

.category-group {
  display: inline-block;
  overflow: hidden;
  height: auto;
  background: #a08f68;
  color: #ffffff;
  text-transform: uppercase;
  width: auto;
  margin: 20px 0;
  padding: 13px 16px;
  text-align: center;

  
  font-size: 12px;
  height: 36px;
}

.category-group h2, .category-group h3 {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  
}

.copy-wrapper {
  padding: 0 20px;
  display: block;
  overflow: hidden;
  height: auto;
  max-height: 183px;
  margin-bottom: 12px;
  position: relative;
  text-align: left;
}



.ui-wrapper {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  overflow: hidden;
  height: auto; }
  .ui-wrapper .sep {
    font-size: 12px;
    font-weight: normal; }
  .ui-wrapper a {
    text-decoration: none;
    color: #ffffff; }
  @media (max-width: 767px) {
    .ui-wrapper .buy {
      width: 100%;
      overflow: hidden;
      padding: 0 20px 0 20px; } }
  .ui-wrapper .buy a {
    display: block;
    width: 300px;
    height: 36px;
    background: #000000;
    margin: 0 auto 20px;
    text-align: center;
    padding: 12px 7px;
    font-size: 12px;
    font-weight: bold; }
    @media (max-width: 767px) {
      .ui-wrapper .buy a {
        width: 100%; } }
  .ui-wrapper .buy.no {
    display: block;
    height: 30px;
    width: auto;
    margin-bottom: 20px; }
  .ui-wrapper .buy.no a {
    background: #ffffff;
    display: none; }
  .ui-wrapper .social {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    overflow: hidden;
    height: auto; }
    @media (max-width: 767px) {
      .ui-wrapper .social {
        width: 100%;
        padding: 0 20px 0 20px; } }
    .ui-wrapper .social a {
      display: block;
      width: 33.333333333%;
      float: left;
      padding: 12px 7px;
      height: 36px; }
    .ui-wrapper .social .facebook {
      background: #3c3c3c; }
    .ui-wrapper .social .twitter {
      background: #666666; }
    .ui-wrapper .social .stash {
      background: #999999; }
    @media (max-width: 350px) {
      .ui-wrapper .social .sep, .ui-wrapper .social .like-count, .ui-wrapper .social .tweet-count, .ui-wrapper .social .stash-count {
        display: none; } }