<div class="row col-md-8 col-md-offset-2">
<div class="page-header">
	<p ng-if="user.type == 'create'" class='text-center'><b>Sign up for an account.</b></p>
	<p ng-if="user.type == 'edit'" class='text-center'><b>Edit your info.</b></p>
</div>

<form class="form-horizontal" ng-submit="user.saveUser()">
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="user.userData.name">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Username</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="user.userData.username">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Password</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" ng-model="user.userData.password">
		</div>
	</div>
	
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'create'">SIGN UP</button>
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'edit'">UPDATE</button>
	</div>
	</div>

</form>

<div class="page-footer">
	<p ng-if="user.type == 'create'" class='text-center'>By signing up, you agree to our <a href='#'>privacy policy</a> and <a href='#'>terms of use</a>.</p>
</div>

<div class="row show-hide-message" ng-show="user.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ user.message }}
		</div>

	</div>
</div>
</div>
